version: 2
updates:
    -
        package-ecosystem: "composer"
        directory: "/"
        schedule:
            interval: "weekly"
        open-pull-requests-limit: 5
        allow:
            - dependency-type: "development"
        versioning-strategy: "increase"
